/*-----------------Css for finn app Opplevelser------------------------*/





/*-
--- Main styles used all over the app
--- Style used in Index page
--- Style used in opplevelser start page
---
---
---
-*/

body{
    font-family: "helvetica";
    font-weight: 100;
}

#mainContent a {
            cursor: pointer;
            outline: none;
            border-bottom: 1px #000;
}


/*---------------Used in the main content style of the header footer and style-------------------*/
p{
    font-family: "helvetica";
    font-weight: 100;
    font-size: 14px;
}

    #mainContainer{
        margin-top: 50px;
        border: 2px solid black;
        width: 320px;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;

    }
    #head{
        width: 320px;
        height: 68px;
        background-color: #0063fb;
    }

    .finnLogo{
        display: block;
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 33px;
    }

    #mainContent{
        width: 320px;
        height: 432px;
        overflow: auto;
    }

    #foot{
        width: 320px;
        height: 68px;
        background-color: #0063fb;
        margin-left: auto;
        margin-right: auto;
    }

    .navIcons{
        position: relative;
        padding-left: 29px;
        top: 17.5px;
        height: 44px;
    }

    .headerIcons{
        position: relative;
        margin-top: 1px;
        padding: 10px;
        width: 25px;
        float: right;
    }

    .headerTop{
        background-image: url(../img/header_statuslinje.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .opplevelserIcons{
        float: left;
        width: 49.5%;
        padding: 0;
        margin: 0;
    }
    .spaceTop{
        height: 50px;
    }



/*---------------Search bar style--------------------------*/
        input[type=search] {
            background: url(../img/sok_header.png) no-repeat;
            background-size: 33px;
            border: none;
            padding: 4px 6px 4px 32px;
            width: 33px;
            height: 33px;

            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
        }

        input[type=search]:focus {
            width: 310px;
            padding-left: 40px;
            color: #fff;
            background-color: #0063fb;
            cursor: auto;
        }

        input:-moz-placeholder {
	       color: transparent;
        }
        input::-webkit-input-placeholder {
	       color: transparent;
        }

        textarea:focus, input:focus{
            outline: none;
        }

/*------------------kent, minKamp, inferno, boSommarland-----------------------*/
#kent, #minKamp, #scene, #inferno, #boSommarland, #kart, #gpskart{
    width: 320px;
}

#txtBox{
    margin-left: 15px;
    margin-right: 15px;
}
.ticketBtn{
    background-color: rgb(37, 120, 250);
}
.ticketBtnDiv{
    text-align: center;
}
.eventPlace, .eventTime, .movieAge{
    font-size: 10px;
    width: auto;
}
/*------------------end kent, minKamp, inferno, boSommarland-----------------------*/

/*------------------kentAntallBill, minKampAntallBill, infernoAntallBill, boSommarlandAntallBill-----------------------*/
.ticketBtn, .buyTicketBtn{
    width: 150px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.buyTicketBtn{
    background-color: #4CAF50;
}
.nrSelect{
    margin-bottom: 20px;
}
#datepicker{
    background-color: rgb(255, 255, 255);
}
/*------------------end kentAntallBill, minKampAntallBill, infernoAntallBill, boSommarlandAntallBill-----------------------*/


/*------------------Opplevelser nær deg-----------------------*/
.eventSelect, .daySelect{
    font-size: 12px;
    margin-top: 10px;
}
.daySelect{
    margin: 20px 0px 40px;
}
#gpsKonsert, #gpsKonsert2, #gpsKonsert3,
#gpsKino1, #gpsKino2,
#gpsTeater1, #gpsTeater2,
#gpsFornoyelsespark1, #gpsFornoyelsespark2{
    height: 60px;
    position: absolute;
}
#gpsKonsert2{
    margin-top: 60px;
    margin-left: 30px;
}
#gpsKonsert3{
    margin-top: 50px;
    margin-left: 110px;
}
#gpsKino1{
    margin-top: 30px;
    margin-left: 70px;
}
#gpsKino2{
    margin-top: 80px;
    margin-left: 130px;
}
#gpsTeater1{
    margin-top: 80px;
    margin-left: 40px;
}
#gpsTeater2{
    margin-top: 10px;
    margin-left: 90px;
}
#gpsFornoyelsespark1{
    margin-top: 10px;
    margin-left: 100px;
}
#gpsFornoyelsespark2{
    margin-top: 50px;
    margin-left: 10px;
}
/*------------------end Opplevelser nær deg-----------------------*/

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/*------------------Dine biletter payment page-----------------------*/

.priceTitle{
    text-align: center;
}

.priceBox{
    margin: auto;
    width: 60%;
    border: 2px solid black;
    text-align: center;
}

.wayOfPayment{
    margin: auto;
    width: 80%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}

.showDetailsPayment{
    text-align: right;
    float: right;
    border: 0;
    text-decoration: none;
    font-size: 12px;
    color: #444;

}
.buyBtnDiv{
    background-color:
}

.buyBtn{
    margin: auto;
    display: block;
    background-color: #4CAF50;
    height: 40px;
    width: 160px;
    font-size: 1em;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}


        /* Style the buttons that are used to open and close the accordion panel */
        button.accordion {
            background-color: #fff;
            color: #444;
            cursor: pointer;
            padding: 3px;
            width: 100%;
            text-align: right;
            border: none;
            outline: none;
            transition: 0.4s;
            border-bottom: 1px #000;
        }

        /* Style the accordion panel. Note: hidden by default */
        div.panel {
            padding: 0 18px;
            background-color: white;
            display: none;
        }

        /* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
        div.panel.show {
            display: block;
        }

        button.accordion:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 9px;
            color: #777;
            float: right;
            margin-left: 5px;
        }

        button.accordion.active:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }


/*-----------------Takk for ditt kjøp------------------------*/

.tickets{
    text-align: left;
    float: left;
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 3px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px #000;
}

.qr{
    width: 125px;
    margin: 0 auto;
}
